/* universal to get rid of the default margins and paddings so you can have more control of the content positioning*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variables to make it easier to manage and change stylings*/
:root {
    --primary-color: #2596be;
    --secondary-color: white;
    --text-color: #000;
    --body-font: serif;
}

/* applies to all content within the body tags */
body {
    font-family: var(--body-font);
    color: var(--text-color);
}

/* made the header a grid to help put image and nav together in grid*/
header {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    background: var(--primary-color);
    width: 100%;
    height: 140px;
    padding: 25px;
}

header img {
    margin-left: 20%;
    width: 120px;
}

/* class where nav links is located which is displayed as flex to put nav content in a row */
.flex-links {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

/* removing the underline from a tag links, and edting the color and font size as well */
.flex-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/* header, */
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.smiling-client img {
    width: 20%;
    height: auto;
}

.smiling-client {
    margin-top: 200px;
}

h1,
h2 {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

/* nav, */
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 1px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
}

.hero article {
    position: absolute;
    /* bottom: 20px; */
    top: 220px;
    left: 25px;
    width: 90%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
}

section {
    display: flex;
    grid-row: 1 / 3;
    place-items: center;
}

section h2 {
    /* background-color: var(--primary-color); */
    text-align: center;
    padding: 16px;
    display: block;
    width: 100%;
    color: var(--text-color);
}

section p {
    display: block;
    text-align: center;
}

section img {
    width: 30%;
    height: auto;
}

/* displayed the list of images as flex to get them in a row then used grid-row property for row positioning */
.list-of-images {
    display: flex;
    grid-row: 1 / 6;
    justify-content: space-evenly;
}

/* all images in list have the same size */
.list-of-images img {
    width: 250px;
}

.hero article img {
    float: right;
    width: 125px;
}

/* made the parent display grid, and I set the rows, and gave it a width of 100% */
footer {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    width: 10%;
    height: auto;
    background: var(--primary-color);
    width: 100%;
}

/* just positioning the footer section paragraphs */
footer p {
    margin-top: -50px;
    margin-left: 35%;
    color: white;
}

/* this class name is set to flex and grid-row to get the content withing the class aligned */
.socialmedia {
    display: flex;
    grid-row: 1/4;
    justify-content: flex-end;
    gap: 12px;
}

/* positioning the image icons */
.socialmedia img {
    width: 30px;
    margin-left: -300%;
    margin-top: 100px;

}

.socialmedia a {
    /* removes lines below link content*/
    text-decoration: none;
}