/* universal to get rid of the default margins and paddings so you can have more control of the content positioning*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variables to make it easier to manage and change stylings*/
:root {
    --primary-color: #2596be;
    --secondary-color: white;
    --text-color: #000;
    --body-font: serif;
}

/* applies to all content within the body tags */
body {
    font-family: var(--body-font);
    color: var(--text-color);
}

/* made the header a grid to help put image and nav together in grid*/
header {
    display: grid;
    /* position: fixed;
    z-index: 1; */
    grid-template-rows: 50px 50px 50px 50px 50px;
    background: var(--primary-color);
    width: 100%;
    height: 140px;
    padding: 25px;
}

header img {
    margin-left: 20%;
    width: 120px;
}

header nav a:hover {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}

/* class where nav links is located which is displayed as flex to put nav content in a row */
.flex-links {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

/* removing the underline from a tag links, and edting the color and font size as well */
.flex-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

/* header, */
/* main,
footer {
    width: 840px;
    margin: 0 auto;
} */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.smiling-client img {
    width: 20%;
    height: auto;
}

.smiling-client {
    font-size: 20px;
    margin-top: 200px;
    color: white;
}

.section h2 {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

/* nav, */
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 1px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--primary-color);
    font-family: var(--body-font);
    color: var(--secondary-color);
}

.hero p {
    color: black;
}

.hero article {
    position: absolute;
    /* bottom: 20px; */
    top: 220px;
    left: 25px;
    width: 90%;
    padding: 16px;
    text-align: center;
    /* opacity: 0.7; */
    background-color: var(--primary-color);
}

section {
    display: flex;
    grid-row: 1 / 3;
    place-items: center;
}

section h2 {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
    /* display: block; */
    width: 100%;
    color: var(--secondary-color);
}

section p {
    display: block;
    text-align: center;
}

section img {
    width: 30%;
    height: auto;
}

/* displayed the list of images as flex to get them in a row then used grid-row property for row positioning */
.list-of-images {
    display: flex;
    grid-row: 1 / 6;
    justify-content: space-evenly;
}

/* all images in list have the same size */
.list-of-images img {
    width: 250px;
}

.hero article img {
    float: right;
    width: 125px;
}

/* made the parent display grid, and I set the rows, and gave it a width of 100% */
footer {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    height: auto;
    background: var(--primary-color);
    width: 100%;
}

/* just positioning the footer section paragraphs */
footer p {
    margin-top: -50px;
    margin-left: 35%;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

/* this class name is set to flex and grid-row to get the content withing the class aligned */
.socialmedia {
    display: flex;
    grid-row: 1/4;
    justify-content: flex-end;
    gap: 12px;
}

/* positioning the image icons */
.socialmedia img {
    width: 30px;
    margin-left: -300%;
    margin-top: 100px;

}

.socialmedia a {
    /* removes lines below link content*/
    text-decoration: none;
}

.hero-title {
    font-family: var(--body-font);
    text-align: center;
}

.hero-title h2 {
    font-size: 18px;
    font-family: var(--body-font);
}

form {
    display: grid;
    flex-direction: column;
    border: none;
    padding: 18px;
    width: 25%;
    margin-left: 50%;
}

#name,
#useremail {
    width: 60%;
    padding: 10px;
}

.name-label input {
    margin-left: 20%;
}

.email-label input {
    margin-left: 20%;
}

.message {
    margin-left: 35%;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.google-map {
    position: absolute;
    right: 50%;
}

.section-two h2 {
    text-align: center;
}

.three-images img {
    display: inline;
    margin-left: 160px;
    vertical-align: middle;
}

.first-image,
.second-image {
    width: 19%;
    height: auto;
}

.third-image {
    width: 18.2%;
    height: auto;
}

.text-for-profile {
    display: flex;
    justify-content: space-evenly;
}

.text-one {
    margin-right: 10%;
}

.text-two {
    margin-right: 5%;
}

.text-three {
    margin-right: 5%;
}

.index-hero h1 {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    font-size: 50px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 18px;
}

.index-hero img {
    width: 100%;
    height: 650px;
}

.form-index-page {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* right: 37%; */
    right: 15%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 35%;
}

.form-index-page h2 {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.form-index-page button {
    color: var(--text-color);
}

.form-index-page #checkbox {
    margin-right: 96%;
    margin-top: -14px;
}

.form-index-page label {
    margin-left: 5%;
}

form input {
    padding: 18px;
}

form button:hover {
    color: white;
    background-color: black;
}

.river-calorado {
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    background-color: lightgrey;
    padding: 18px;
}

.river-calorado h2 {
    text-align: center;
}

.river-calorado p {
    max-width: 500px;
}

.river-calorado img {
    display: inline;
    margin-left: 10%;
    width: 40%;
}

.about-river-p p {
    margin-left: 35%;
    margin-top: -265px;
    font-family: var(--body-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    box-shadow: 0px 1px 20px 1px black;
}

.about-river-p button {
    background-color: var(--secondary-color);
    margin-left: 40%;
}

.about-river-p button:hover {
    color: white;
    background-color: black;
}

.river-calorado-purpose {
    position: relative;
    left: 10%;
    display: grid;
    grid-column: column;
    margin-top: 10%;
    background-color: var(--primary-color);
    border: 1px solid black;
    max-width: 40%;
    padding: 18px;
    border-radius: 10px;
}

.river-calorado-purpose button {
    background: var(--secondary-color);
}

.river-calorado-purpose button:hover {
    background: black;
    color: var(--secondary-color);
}

.river-calorado-purpose p {
    color: var(--secondary-color);
    font-size: 25px;
    width: 85%;
    margin-left: 5%;
    font-weight: bolder;
}

.river-calorado-purpose img {
    display: inline;
    margin-left: 10%;
    width: 80%;
}

.river-calorado-purpose h2 {
    text-align: center;
    color: var(--secondary-color);
    font-weight: bolder;
}

.info-alongside-form p {
    position: absolute;
    width: 50%;
    text-align: center;
    font-size: 25px;
}

.trip-hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.trips-hero img {
    width: 100%;
    height: auto;
}

.trips-hero button {
    position: absolute;
    color: var(--secondary-color);
    left: 35%;
    top: 50%;
    right: 50%;
    width: 35%;
    font-size: 50px;
    border-radius: 10px;
}

.trips-hero button:hover {
    background-color: black;
}

.trips-text-one,
.trips-text-two,
.trips-text-three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 100%;
    margin-top: 5%;
    border: 1px solid black;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: 25px;
    color: var(--secondary-color);
    font-weight: bolder;
}

.trips-other-activities img {
    width: 80%;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    display: grid;
    flex-wrap: none;
    letter-spacing: 5%;
}

th,
td {
    border: 1px solid black;
    padding: 25px;
}

td {
    background-color: lightgrey;
}

.tables-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

section table {
    margin-left: 25%;
}

.first-head-section,
.second-head-section tr {
    width: 100%;
}

thead {
    background-color: var(--primary-color);
}

.equipment-heading {
    text-align: center;
}

.all-equipment img {
    display: inline;
    margin-left: 50%;
}

.helmet,
.life-jacket,
.paddle,
.raft {
    width: 90%;
}