table {
    border-collapse: collapse;
    border: 1px solid grey;
    letter-spacing: 2px;
}

th,
td {
    border: 1px solid grey;
    padding: 5px;
}

th,
tfoot {
    background: black;
    color: white;
}

tfoot {
    text-align: center;
}

.caterina-background-color,
.acre-background-color {
    background: lightgrey;
}

.caterina-background-color:hover,
.acre-background-color:hover {
    background: lightblue;
}