:root {
    --background-color: darkblue;
    --text-color: darkblue;
    --font-family: sans-serif;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--text-color);
    font-family: var(--font-family);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    font-family: var(--font-family);
}

main {
    max-width: 500px;
}

aside {
    width: 35rem;
    margin: 1px;
    border: 2px solid white;
    padding: 1rem;
    background-color: lightblue;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 5%;
    border-top: 1px solid black;
    text-align: center;
}